.checkAll{
	width: 100%;
	height: 30px;
	float: left;
	line-height: 30px;
}
.checkOne label{
	width: 180px;
	height: 30px;
	float: left;
	line-height: 30px;
}
.checkPart,.tabPart{
	width: 100%;
	height: auto;
	float: left;
}
.checkPart{
	padding-bottom: 20px;
	border-bottom: 2px solid #f4f4f4;
}
.tabPart{
	margin-top: 20px;
}
.checkTitle{
	width: 100%;
	height: 20px;
	float: left;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}
