.nextPart{
	/*margin-top: 10px;*/
	background-color: #ffffff;
}
.linePart{
	width: 100%;
	height: 10px;
	float: left;
	background-color: #ffffff;
}
.radioStyle{
	margin-bottom: 10px;
}
.labelStyle{
	width: 100px;
	height: 28px;
	line-height: 28px;
	text-align: right;
	float: left;
}
.radioButtonStyle{
	width: 600px;
	height: auto;
	float: left;
}
.radioButtonStyle label{
	margin-bottom: 10px;
}
.sortLeft{
	width: 500px;
	float: left;
	margin-left: 10px;
}
.sortRight{
	width: 200px;
	float: right;
	margin-right: 10px;
}
:global .listStyle{
	width: 96%;
	height: auto;
	float: left;
	margin-left: 2%;
}
:global .listStyle tr{
	width: 18%;
	height: 130px;
	float: left;
	border: 1px solid #000000;
	margin-right: 2%;
	margin-bottom: 10px;
}
:global .listStyle tr td{
	width: 100%;
	height: 25px !important;
	float: left;
	border: none;
	text-align: left !important;
}
:global .listStyle tr:hover td{
	background: none;
}
:global .listPart01 div span:last-child{
	width: 122px;
	height: 35px;
	float: left;
	overflow: hidden;
}
:global .listPart04{
	position: relative;
}
:global .listPart04 span{
	width: 100%;
	height: 32px;
	position: absolute;
	top: 0;
	left: 0;
}
:global .listPart04 a{
	width: 25px;
	height: 25px;
	line-height: 25px;
	float: left;
	color: #000000;
	font-size: 20px;
	margin-left: 10px;
	text-align: center;
	margin-top: 5px;
}
/*:global .listPart04 a:nth-child(3){
	font-size: 15px;
	border: 1px solid #000000;
	border-radius: 50%;
	color: #FFFFFF;
	background-color: #F5222D;
}*/
:global .listPart01 div span:nth-child(1){
	width: 35px;
	height: 35px;
	float: left;
}
:global .listPart01 div span:nth-child(1) img{
	width: 100%;
	height: 100%;
	float: left;
}

.oelModalStyle{
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
}

:global .InterfaceStyle,:global .InterfaceStyle ul,:global .InterfaceStyleOther,:global .InterfaceStyleOther ul{
	width: 100%;
	height: auto;
  margin: 0 auto;
}

:global .InterfaceStyle ul li,:global .InterfaceStyleOther ul li{
	  width: 100%;
    height: auto;
    min-height: 30px;
    line-height: 30px;
    float: left;
    border-bottom: 1px dashed #e6e6e6;
    font-size: 12px;
}
:global .InterfaceStyle ul li p,:global .InterfaceStyleOther ul li p{
	  float: left;
}
:global .InterfaceStyle ul li p:first-child,:global .InterfaceStyleOther ul li p:first-child{
    width: 25%;
    min-height: 30px;
    height: auto;
}
:global .InterfaceStyle ul li p:last-child{
    width: 70%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}