:global(.glqjg){
	margin-left: 8px;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
    display: inline-block;
    position: relative;
    color: #666;
    font-size: 12px;
    border-radius: 5px;
}
:global(.glqjg button){
	border: none;
}
:global(.glqjg .ant-select-selection){
	border: none;
	border-left: 1px solid #e5e5e5;
	border-radius: 0px;
}
:global(.oel-select .ant-select-dropdown-menu-item){
	padding: 1px !important;
	margin-left: 15px;
}
@font-face {
	font-family: "iconfont";
  	src: url('../../components/Layout/icon/iconfont.eot?t=1503649285463'); /* IE9*/
  	src: url('../../components/Layout/icon/iconfont.eot?t=1503649285463#iefix') format('embedded-opentype'), /* IE6-IE8 */
  	url('../../components/Layout/icon/iconfont.ttf?t=1503649285463') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  	url('../../components/Layout/icon/iconfont.svg?t=1503649285463#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  	font-family:"iconfont" !important;
  	font-size:16px;
  	font-style:normal;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
:global(.icons){
	display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
	font-family: "iconfont";
	font-size: 12px;
}
:global(.icons:before){
	content: '\e652';
}
:global(.alarmResult){
	animation: flash .8s linear infinite;
}

@keyframes flash {
	0% {
		color: #ff7800;
		background-color: #6c737a;
	}
	50%{
		color: #ff7800;
		background-color: seashell;
	}
	100% {
		color: #ff7800;
		background-color: #6c737a;
	}
}

:global .hotspot{
	color: #ff7800;
	background-color: #6c737a;
	/* float: right; */
	width: 90px;
	height: 30px;
	margin-left: 15px;
	font-size: 14px;
	border-radius:4px;
	padding-left: 6px;
	line-height:30px;
}
:global .hotspot>a{
	color: inherit;
}

:global .impact{
	color: #f759ab;
	border: 1px solid #f759ab;
	height: 32px;
	font-size: 14px;
	border-radius:4px;
	padding: 0px 15px;
	line-height:32px;
	margin-left: 8px;
	position: relative;
	display: inline-block;
}

:global(.impact.ant-badge sup){
	color: #fff;
	animation: lalala 0.6s linear infinite;
}
@keyframes lalala {
	0% {
		background-color: #f759ab;
	}
	100%{
		background-color: #faad14;
	}
}
:global(.Service_impact.ant-badge sup){
	color: #fff;
	background-color: #f759ab;
}

:global .Service_impact{
	color: #f759ab;
	border: 1px solid #f759ab;
	height: 32px;
	font-size: 14px;
	border-radius:4px;
	padding: 0px 15px;
	line-height:32px;
	margin-left: 8px;
	position: relative;
	display: inline-block;
}