.checkAll{
	width: 50%;
	height: 30px;
	float: left;
	line-height: 30px;
}
.checkOne label{
	/*width: 200px;*/
	height: 30px;
	float: left;
	line-height: 30px;
}
.ticket {
	width: 50%;
	height: 50px;
	float: right;
	/* line-height: 50px; */
	margin-top: -10px;
}
